body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    padding: 15px;

    .title {
        color: #f9faf8;
        font-size: 24px;
    }
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.section1 {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: 100px;
    gap: 30px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 450px;

        .title {
            color: #f9faf8;
            font-size: 48px;
            font-weight: 900;
        }

        .text {
            font-size: 18px;
            color: #E5E7Eb;
        }

        button {
            width: 120px;
            color: white;
            background: #3882f6;
            border: #3882f6;
            padding: 8px 6px;
            border-radius: 25px;
        }
    }

}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    padding-top: 50px;
    gap: 50px;

    .title {
        color: #1f2937;
        font-size: 36px;
        font-weight: 900;
    }

    .container {
        display: flex;
        gap: 50px;
    }

    .text {
        font-size: 18px;
        color: grey;
        text-align: center;
        width:250px;
        margin-top: 15px;
    }

}

.section3 {
    display: flex;
    flex-direction: column;
}

.section4 {
    display: flex;
}

.footer {
    display: flex;
}